form {
  background-color: #0f0f0f;
  width: 90%;
  max-width: 400px;
  padding: 33px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 45px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 26px;
  color: #fff;
}

textarea {
  background-color: #212121;
  width: calc(100% - 25px);
  /* width: 90%; */
  min-height: 100px;
  max-height: 210px;
  border: none;
  /* border: 2px, solid #202329; */
  border-radius: 7px;
  color: #dbdbdb;
  font-size: 15px;
  /* text-align: center; */
  padding: 12px;
  height: 96px;
  resize: vertical;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

textarea:focus {
  outline-color: #feca57;
}

.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-family: "Montserrat";
}

.TodoForm-button-add {
  background-color: #feca57;
  /* box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5); */
}

.TodoForm-button-cancel {
  background: transparent;
  color: #fff;
}
