.TodoSearch {
  display: inline-block;
  width: 100%;
  color: #1E1E1F;
  font-weight: 400;
  font-family: 'Montserrat';

  /* width: 100%; */
  border: none;
  border: 1px solid rgba(149, 157, 165, 0.2);
  border-radius: 20px;

  padding: 10px 25px;
  margin: 25px 0px 25px 0px;
  
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #2c3e50;
}