.TodoItem {
  background-color: #212121;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.281) 0px 2px 7px;
}

.TodoItem-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.TodoItem-p--complete {
  text-decoration: line-through;
  color: #95A5A6;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: bold;
}

.Icon-check {
  background-color: #95a5a630;
  width: 32px;
  height: 32px;
  display: flex;
  font-size: 15px;
  border-radius: 50%;
  
}

.Icon-check svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.Icon-check--active {
  background-color: #C8E6C9;
  transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Icon-check--active svg {
  fill:  #388E3C;
}

.Icon-delete {
  position: absolute;
  /* top: -24px; */
  right: 0;
}

.Icon-delete svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.Icon-delete svg:hover {
  fill: #EA2027;
}
